@import './variables.css';

body{
    background-color: #dcf1ff;
}

.container {
    background-color: var(--color-fondo-suave);
    padding: 2rem;
    border-radius: 12px;
}


.header-mapa {
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
}

.section-title {
    background-color: var(--color-blanco);
    color: var(--color-texto);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-left: 5px solid var(--color-azul-oscuro);
    border-right: 5px solid var(--color-azul-oscuro);
    border-radius: 5px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--color-blanco);
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(106, 27, 154, 0.2);
    border-color: var(--color-cian);
}

.card-hover p {
    margin-top: 10px;
    font-weight: 500;
    color: var(--color-texto);
}

.card-icon {
    font-size: 2rem;
    color: var(--color-azul-medio);
    transition: color 0.3s ease;
}

.card-hover:hover .card-icon {
    color: var(--color-rosa);
}