:root {
    --color-rosa: #ec0065;
    --color-azul-oscuro: #0057ff;
    --color-azul-medio: #1da1f2;
    --color-cian: #00e1ff;
    --color-fondo-suave: #f0f8ff;
    --color-texto: #333;
    --color-blanco: #ffffff;
}